{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %} {% endblock %} | DjangoOMS</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/materialadmin.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/jquery.dataTables.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.colVis.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/libs/DataTables/extensions/dataTables.tableTools.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/libs/select2/select2.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/chatStyle.css' %}" />
		<!-- END STYLESHEETS -->

		<style>
            #map-canvas {
                height: 600px;
            }
        </style>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-pin menubar-hoverable header-fixed "> <!--max sidemenu: menubar-pin -->

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="{% url 'home' %}">
									<span class="text-lg text-light text-danger">Gogte Institute of Technology</span><span class="text-lg text-bold text-primary"> </span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-profile">
						<li class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
								<span class="profile-info">
									<h4 class="text-lg text-bold text-primary">ChatBot Application</h4>
								</span>
							</a>
							<ul class="dropdown-menu animation-dock">
								<li class="dropdown-header">My profile</li>
								<li><a href="{% url 'change_password' %}">Change Password</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
							</ul><!--end .dropdown-menu -->
						</li><!--end .dropdown -->
					</ul><!--end .header-nav-profile -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">

            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

                {% block body %}

                {% endblock %}

			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="{% url 'home' %}">
							<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="{% url 'home' %}" class="active">
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Dashboard</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN ORDER -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-cubes"></i></div>
								<span class="title">Medicines</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% url 'home'%}" ><span class="title">All Medicines</span></a></li>
								{% if user.is_authenticated and user.is_staff %}
								<li><a href="{% url 'new'%}" ><span class="title">Add Medicines</span></a></li>
								{% endif %}
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END ORDER -->

						<!-- BEGIN STORE -->
						<li class="gui-folder">
								<a>
									<div class="gui-icon"><i class="fa fa-cart-plus"></i></div>
									<span class="title">Medical Store</span>
								</a>
								<!--start submenu -->
								<ul>
									<li><a href="{% url 'storeList'%}" ><span class="title">All Stores</span></a></li>
									{% if user.is_authenticated and user.is_staff %}
									<li><a href="{% url 'newStore'%}" ><span class="title">Add Stores</span></a></li>
									{% endif %}
									<li><a href="{% url 'poiList'%}" ><span class="title">Store Positions</span></a></li>
								</ul><!--end /submenu -->
							</li><!--end /menu-li -->
							<!-- END ORDER -->

						<!-- BEGIN STORE -->
						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-user"></i></div>
								<span class="title">Profile</span>
							</a>
							<!--start submenu -->
							<ul>
								<li><a href="{% url 'change_password' %}" ><span class="title">Change Password</span></a></li>
								<li><a href="{% url 'logout' %}" ><span class="title">Logout</span></a></li>
							</ul><!--end /submenu -->
						</li><!--end /menu-li -->
						<!-- END PROFILE -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<p> Current Location</p>
						<p id='startLat' ></p>
						
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; {% now "Y" %}</span> <strong>Gogte Institute</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

		</div><!--end #base-->
		<!-- END BASE -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="{% static 'js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/libs/jquery/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>

		<script src="{% static 'js/libs/nanoscroller/jquery.nanoscroller.min.js' %}"></script>

        <!-- DATATABLE -->
		<script src="{% static 'js/libs/DataTables/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>
		<script src="{% static 'js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>

		<script src="{% static 'js/core/App.js' %}"></script>
		<script src="{% static 'js/core/AppNavigation.js' %}"></script>
		<script src="{% static 'js/core/AppOffcanvas.js' %}"></script>
		<script src="{% static 'js/core/AppCard.js' %}"></script>
		<script src="{% static 'js/core/AppForm.js' %}"></script>
		<script src="{% static 'js/core/AppVendor.js' %}"></script>
		<script src="{% static 'js/core/Demo.js' %}"></script>
		<script src="{% static 'js/core/chat.js' %}"></script>
		<!--<script src="{% static 'js/core/jquery.js' %}"></script> -->
		<script src="{% static 'js/core/js.cookie.js' %}"></script>
        <script src="{% static 'js/core/DemoTableDynamic.js' %}"></script>
        <script src="{% static 'js/libs/select2/select2.min.js' %}"></script>
		<!-- END JAVASCRIPT -->

        <script>
            // =========================================================================
            // SELECT2
            // =========================================================================

            $(document).ready(function() {
              $("#product_id").select2();
			  $('.select_field_class').select2( { placeholder: "Select here", maximumSelectionSize: 100  } );
            });

			window.onload = function() {
			var startPos;
			var geoSuccess = function(position) {
				startPos = position;
				document.getElementById('startLat').innerHTML =  "Latitude: " + startPos.coords.latitude + 
				"<br>Longitude: " + startPos.coords.longitude;

				//document.getElementById('startLat').innerHTML = startPos.coords.latitude;
				//document.getElementById('startLon').innerHTML = startPos.coords.longitude;
			};
			navigator.geolocation.getCurrentPosition(geoSuccess);
			};
			
        </script>
		
		<script>
      var $chatlog = $('.msg_container_base');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');
      var dialogflowUrl = '{% url "index" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
	var count =0;
	var me = {};
me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

var you = {};
you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');
        var list = '<li class="list-group-item messages msg_sent">'
        var k = text.split("\n")

        for(i=0;i<k.length;i++) {
			if (count%2 == 0){
			  insertChat("me", k[i]);
			}
			else{
				insertChat("you", k[i]);
			}
			count++;
            //list += k[i]+"<br />"
        }

        //list = list + "</li>"
        //$row.text(list);
        //$chatlog.append(list);
      }
	  
	  function insertChat(who, text){
		var control = "";
		
		if (who == "me"){
			
        control = '<div class="row msg_container base_sent">' +
                        '<div class="col-md-10 col-xs-10">' +
                        
                            '<div class="messages msg_sent">' +
                                '<p>'+ text +'</p>' +
                                
                            '</div>' +
                        '</div>' +
						'<div class="col-md-2 col-xs-2 avatar">'+
                            '<img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'+
                        '</div>'+
                    '</div>';                    
    }else{
        control = '<div class="row msg_container base_receive">' +
			'<div class="col-md-2 col-xs-2 avatar">'+
                            '<img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">'+
                        '</div>'+
                        '<div class="col-md-10 col-xs-10">' +
                            '<div class="messages msg_receive">' +
                                '<p>'+text+'</p>' +
                                
                            '</div>' +
						'</div>' +
                  '</div>';
    }
	
    $chatlog.append(control);	
	//$chatlog.scrollTop($(".msg_container")[0].scrollHeight);
	}

      //window.onload = insertChat();createRow('<b><font size="2" face="Lucida Console">Queries related to Medicines</font></b>');

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }
        // Display the user's input on the web page
        createRow(inputData.text);
        var dialogflowChatUrl = '{% url "chat" %}';
        var $submit = $.ajax({
          type: 'POST',
          url: dialogflowChatUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);
            // Clear the input field
            $input.val('');
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
	</script>
	
	

	</body>
</html>