{% extends 'layout.html' %}

{% block title %} All Orders {% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>Alternate Medicines Data</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table table-striped table-condensed order-column hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>Medicine Name</th>
                                                        <th>Indications</th>
                                                        <th>dosage</th>
                                                        <th>Drug Form</th>
                                                        <th>Side Effects</th>
                                                        <th>Price</th>
                                                        <th>Manufacture</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for altMed in medicineAlternative %}
                                                    {% for medicine in medicines %}
                                                    
                                                    {% if medicine.name == altMed %}
                                                        <tr >
                                                            <td>{{ medicine.name }}</td>
                                                            <td>{{ medicine.indication }}</td>
                                                            <td>{{ medicine.dosage }}</td>
                                                            <td>{{ medicine.drug_form }}</td>
                                                            <td>{{ medicine.side_effects }}</td>
                                                            <td>{{ medicine.price }}</td>
                                                            <td>{{ medicine.manufacture }}</td>
                                                                                                               
                                                            
                                                        </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>   
                                </div>       
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>
{% endblock %}